body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

input {
    font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #A0A0A0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #808080;
}

/* Make selected text gold on a red background */
::-moz-selection {
    color: white;
    background-color:  #ff6666;
    /*background: #ff0000;*/
}

::selection {
    color: white;
    background-color:  #ff6666;
    /*background: #ff0000;*/
}